.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 14px;
}

.App-header {
    background-color: #222;
    height: 4rem;
    padding: 20px;
    color: white;
}

.App-footer {
    background-color: #222;
    padding: 2px;
    width: 100%;
    bottom: 0;
    position: fixed;
    color: white;
}

.Editor-container {
    display: inline-block;
    margin: 1rem;
}

.Code-editor {
    resize: none;
}

.Code-previewer {
    resize: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
